<!doctype html>
<html ng-app="kal3aSearchApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-controller="SearchCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">kal3a</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <label class="control-label sr-only required" for="form_queryTerm">Query term</label>
                <input type="search" id="form_queryTerm" required="required" placeholder="Search" class="form-control" ng-model="queryTerm">
              </div>
              <div class="form-group">
                <label class="control-label sr-only">From</label>
                <input type="date" ng-model="published_lower">
              </div>
              <div class="form-group">
                <label class="control-label sr-only">To</label>
                <input type="date" ng-model="published_upper">
              </div>
              <span ng-controller="LimitModalCtrl">
                <a title="change result set size" class="btn btn-default" ng-click="open()">{{ pager.limit }}</a>
              </span>
              <div class="btn-group" role="group">
              <button data-toggle="tooltip" data-placement="bottom" title="Sort Ascending" type="button" class="btn btn-default" ng-model="sort" btn-radio="'asc'"><i class="glyphicon glyphicon-sort-by-attributes-alt fa-flip-vertical"></i></button>
              <button data-toggle="tooltip" data-placement="bottom" title="Sort Descending" type="button" class="btn btn-default" ng-model="sort" btn-radio="'desc'"><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></button>
              <button data-toggle="tooltip" data-placement="bottom" title="Sort by Relevance" type="button" class="btn btn-default" ng-model="sort" btn-radio="'_score'"><i class="glyphicon glyphicon-sort-by-order-alt"></i></button>
              </div>
              {{ results.hits.total }} Results
              <button type="submit" class="btn btn-default" ng-disabled="loading">
                <span ng-show="loading"><i class="fa fa-spinner fa-spin"></i> Updating</span>
                <span ng-show="!loading"><i class="glyphicon glyphicon-search"></i> Search</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" ng-include="'views/search.html'">
    </div>

    <div class="footer">
      <div class="container-fluid">
      </div>
    </div>
    <script src="http://localhost:8000/bundles/fosjsrouting/js/router.js"></script>
    <script src="http://localhost:8000/js/routing?callback=fos.Router.setData"></script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/elasticsearch/elasticsearch.angular.js"></script>
    <script src="bower_components/elastic.js/dist/elastic.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/term-facet.js"></script>
        <script src="scripts/services/es.js"></script>
        <script src="scripts/services/fos-routing.js"></script>
        <script src="scripts/controllers/help-modal.js"></script>
        <script src="scripts/controllers/limit-modal.js"></script>
        <script src="scripts/filters/directionality.js"></script>
        <script src="scripts/filters/bad-date.js"></script>
        <script src="scripts/filters/unsafe.js"></script>
        <script src="scripts/filters/twitter-profile.js"></script>
        <script src="scripts/services/collection-types.js"></script>
        <!-- endbuild -->
</body>
</html>
