<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default" ng-repeat="agg in search.aggs">
            <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
                <h3 class="panel-title">{{ search.headings[agg.terms.field] }}</h3>
            </div>
            <eui-checklist field="agg.terms.field" size="10" uib-collapse="isCollapsed"></eui-checklist>
        </div>
    </div>
    <div class="col-sm-9">
        <ul class="list-unstyled">
            <li ng-repeat="doc in indexVM.results.hits.hits">
                <atom-entry entry="doc._source"></atom-entry>
            </li>
        </ul>
        <eui-simple-paging></eui-simple-paging>
    </div>
</div>
