<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default" ng-repeat="(key, value) in results.aggregations">
            <div class="panel-heading" data-toggle="collapse" data-target="#facet-{{$index}}">
                <h3 class="panel-title">{{ key }}</h3>
            </div>
            <ul id="facet-{{$index}}" class="list-group list-unstyled facets collapse in" ng-controller="TermFacetCtrl" ng-init="init(key, query)">
                <li class="list-group-item" ng-repeat="entry in value.buckets" dir="{{ entry.key | directionality }}">
                    <a ng-click="filter(key, entry.key)">
                        <i class="glyphicon glyphicon-remove-sign" ng-show="isActive(key, entry.key)"></i> {{ entry.key }}
                    </a> <span class="badge">{{ entry.doc_count | number }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-9">
        <ul class="list-unstyled">
            <li ng-repeat="doc in results.hits.hits" class="media">
                <div class="media-left">
                    <img ng-src="{{doc.castleView.thumbnailLink.href}}" alt="{{doc._source.name}}" width="200" class="media-object" />
                </div>
                <div class="media-body">
                    <p class="author">
                        <a ng-if="doc.castleView.authorLink" href="{{ doc.castleView.authorLink.href }}" target="_blank">{{ doc._source.authors[0].name }}</a>
                        <span ng-if="!doc.castleView.authorLink">{{ doc._source.authors[0].name }}</span>
                    </p>
                    <p>{{ doc._source.source.title.text }} <span>{{ doc._source.published | badDate | date:'medium' }}</span></p>
                    <p>
                        <a ng-if="doc.castleView.alternateLink" ng-href="{{ doc.castleView.alternateLink.href }}" target="_blank">
                            {{ doc._source.title.text | unsafe }}
                        </a>
                        <span ng-if="!doc.castleView.alternateLink">{{ doc._source.title.text | unsafe }}</span>
                        <small ng-show="doc.castleView.canonicalLink">
                            <a ng-href="{{ doc.castleView.canonicalLink.href }}" target="_blank">
                                <i class="glyphicon glyphicon-link"></i>
                            </a>
                        </small>
                    </p>
                    <atom-text-construct atom-element="doc._source.summary"></atom-text-construct>
                    <ul>
                        <li ng-repeat="(key, value) in doc.castleView.displayLinks">
                            <a rel="{{ value.rel }}" href="{{ value.href }}" target="_blank">{{ value.title }}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <pagination ng-model="page" items-per-page="pager.limit" boundary-links="true" total-items="results.hits.total" max-size="10" ng-change="setPage(page)"></pagination>
    </div>
</div>
